<?xml version="1.0" encoding="UTF-8"?>

<!--
  Document : Sucursales\config.xml
  @author: Sergio Pérez <sergio.perez@albatronic.com>
* @copyright: INFORMATICA ALBATRONIC SL
* @date 12.06.2011 19:03:07
-->

<Sucursales>
  <login_required>YES</login_required>
  <permission_control>YES</permission_control>
  <help_file>sucursales.html.twig</help_file>
  <title>Sucursales</title>
  <conection>empresas</conection>
  <entity>Sucursales</entity>
  <table>sucursales</table>
  <primarykey>IDSucursal</primarykey>
  <linkBy>IDEmpresa</linkBy>
  <records_per_page>9999</records_per_page>
  <order_by>IDEmpresa</order_by>
  <search_default>IDEmpresa</search_default>
  <columns>
    <column>
      <title>IDSucursal</title>
      <field>IDSucursal</field>
      <filter>YES</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>000</default>

      <validator>
        <null>YES</null>
        <type>integer</type>
        <length>3</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>IDEmpresa</title>
      <field>IDEmpresa</field>
      <filter>YES</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>000</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>3</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>Nombre</title>
      <field>Nombre</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    
    </column>

    <column>
      <title>Direccion</title>
      <field>Direccion</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    
    </column>

    <column>
      <title>Poblacion</title>
      <field>Poblacion</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>30</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>IDProvincia</title>
      <field>IDProvincia</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type></type>
        <length>2</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    
    </column>

    <column>
      <title>CodigoPostal</title>
      <field>CodigoPostal</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0000000000</default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>10</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>Telefono</title>
      <field>Telefono</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>30</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

   
    </column>

    <column>
      <title>Fax</title>
      <field>Fax</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>30</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>EMail</title>
      <field>EMail</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>IDResponsable</title>
      <field>IDResponsable</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>4</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    
    </column>

    <column>
      <title>ContadorEmitidasA</title>
      <field>ContadorEmitidasA</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>8</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>ContadorEmitidasB</title>
      <field>ContadorEmitidasB</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>8</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     
    </column>

    <column>
      <title>ContadorEmitidasAbono</title>
      <field>ContadorEmitidasAbono</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>8</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    
    </column>

    <column>
      <title>ContadorRecibidasA</title>
      <field>ContadorRecibidasA</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>8</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

     

      <dependent_entities>
        <dependency><conection/><entity/><key/></dependency>
      </dependent_entities>
    </column>

    <column>
      <title>ContadorRecibidasB</title>
      <field>ContadorRecibidasB</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0</default>

      <validator>
        <null>NO</null>
        <type>integer</type>
        <length>8</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

  
    </column>

  </columns>
</Sucursales>