{# Template filtro.html.twig for Agentes #}
{# -------------------------------------------------------#}
<div class='Filtro'>
	<form name='filtro' action='' method='POST'>
		<input name='controller' value='Agentes' type='hidden' />
		<input name='action' value='list' type='hidden' />
		{% include '_global/FiltroGenerico.html.twig' with {'filter':filter} %}
	</form>
</div>