{# Template new.html.twig for Agentes #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Agentes/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto" action="" method="POST">
        <input name="controller" value="Agentes" type="hidden" />
        <input name="action" value="new" type="hidden" />
        <input name="Agentes[IDAgente]" value="{{ values.datos.IDAgente }}" type="hidden" />
        {% include '_global/comandosCreate.html.twig' %}

        <div class="Cuerpo">
        {% include '_global/FormErrores.html.twig' with {'errores': values.errores} %}
	{% include "Agentes/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}