{# Template list.html.twig for Paises #}
{# -------------------------------------------------------#}
{% extends 'Paises/index.html.twig' %}

{% block listado %}
<div class='Listado'>

	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Paises','position':'izq'}%}
	{% include '_global/listGenerico.html.twig' with {'listado':values.listado, 'controller': values.controller} %}
	{% include '_global/paginacion.html.twig' with {'filter':values.listado.filter,'controller':'Paises','position':'der'}%}

</div>
{% endblock %}