# DIRECTIVAS AL SERVIDOR PARA DESVIAR TODAS
# LAS PETICIONES AL CONTROLADOR FRONTAL index.php
# EXCEPTO PARA LAS EXCEPCIONES QUE ESTÉN DESCOMENTADAS

# NOTA: SI EL PROYECTO LLEVA CPanel, HABRÁ QUE DESCOMENTAR ESA LÍNEA

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} \..+$
    RewriteCond %{REQUEST_URI} !\.html$
    RewriteCond %{REQUEST_URI} !\.xml$
    RewriteRule .* - [L]

    RewriteCond %{REQUEST_FILENAME} !-f

    # EXCEPCIONES
    #RewriteCond %{REQUEST_URI} !/Cpanel
    #-----------------------------------

    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<ifModule mod_deflate.c>
    <filesMatch "\.(js|css)$">
    SetOutputFilter DEFLATE
    </filesMatch>
</ifModule>

# FUERZA AL SERVIDOR A DEVOLVER PAGINAS EN CODIFICACION UTF-8
AddDefaultCharset utf-8
