{% extends layout %}

{% block title parent() ~ " - Inicio" %}

{% block contenido %}

<h1>ESTO FUNCIONA</h1>
<h2>Pasos a seguir:</h2>

<li>Cree secciones de contenidos y contenidos desde el panel de control</li>
<li>A cada sección se le asocia una url amigable y un controlador</li>

{% endblock %}