{# Template para el comando New#}
{% if values.permisos['I'] %}
<a href='{{app.path}}/{{controller}}/new/{{linkValue}}'><img src="{{app.path}}/images/new_cmd.png" border="0" alt="Nuevo" title="Nuevo" /></a>
{%endif%}