{# Template para el comando Listado #}
{% if values.permisos['C'] %}
<a href='{{app.path}}/{{controller}}/list/{{linkValue}}'><img src="{{app.path}}/images/list_cmd.png" width="24px" alt="Listado" title="Listado" /></a>
{%endif%}
