{# email.html.twig                                                      #}
{# MUESTRA EN UN IFRAME EL ARCHIVO RECIBIDO, NORMALMENTE SERA UN PDF  #}
{# PERO PUEDE SER DE CUALQUIER TIPO: EXCEL, WORD, IMAGEN, ETC         #}
{# -------------------------------------------------------------------#}
{% extends layout %}

{% block content %}
    <div class="Izquierda">
        {{ macro.input('Para','Etiqueta','text','Para','Para',values.email.Para,'255','CampoTextoLargo') }}
        {{ macro.input('Con Copia','Etiqueta','text','Cc','Cc',values.email.Cc,'255','CampoTextoLargo') }}

    </div>

    <div class="Derecha">
        <iframe width="100%" height="500" src="{{app.path}}/{{values.archivo}}"></iframe>
    </div>
{% endblock %}