{# error.html.twig #}
{% extends layout %}

{% block content %}
<div class="MensajeError">
    <p class="TituloError">CONTROL DE ACCESO</p>
    No dispone de permisos para acceder a esta opción. Consulte con el administrador.
</div>
{% endblock %}