{% extends "_help/_global/layout.html.twig "%}

{%block titulo%}
<h2>index</h2>
{%endblock%}

{% block contenido %}

<hr/>

<h2>INDEX</h2>
<ul>
    <ol>¿index?</ol>
    <ol>¿Problemas comunes?</ol>
</ul>

<h2>Soluciones</h2>

<p>index</p>

{% endblock %}