<div style="float:left;">
<img src="{{app.path}}/images/logo.jpg" width="75" height="75" alt="Logo Empresa"/>
</div>
<div style="float:right; padding: 15px;">
    <h1>Manual {{app.name}}</h1>
</div>