{% extends "_help/layout.html.twig" %}

{%block titulo%}<h2>Introduci&oacute;</h2>{%endblock%}

{% block contenido %}

<h2>Objetivo de la Aplicaci&oacute;</h2>

<h2>Consideraciones Generales</h2>

{% endblock %}