/*
ESTILOS PARA LAS NOTIFICACIONES EMERGENTES.
SON NECESARIOS PARA UTILIZAR EL JQUERY notificacion QUE ESTA
EN js/script.js

SE MONSTRARAN 4 TIPOS POSIBLES DE NOTIFICACIONES: info,exito,alerta y error
*/

.info, .exito, .alerta, .error {
    position: absolute;
    z-index: 99;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    /*Alinear abajo derecha, ancho notificacion 30%*/
    bottom: 0px;
    width: 40%;
    right: 0px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../images/notificaciones/info.png');
}
.exito {

    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../images/notificaciones/exito.png');

}
.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../images/notificaciones/alerta.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../images/notificaciones/error.png');
}