{# Template edit.html.twig for Provincias #}
{# -------------------------------------------------------#}
{# EDITAR UN REGISTRO. ACCIONES: GUARDAR Y BORRAR         #}
{# -------------------------------------------------------#}
{% extends 'Provincias/index.html.twig' %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto" action="" method="POST">
        <input name="controller" value="Provincias" type="hidden" />
        <input name="action" value="edit" type="hidden" />
        <input name="Provincias[IDProvincia]" value="{{ values.datos.IDProvincia }}" type="hidden" />
        {% include "_global/comandosSaveDelete.html.twig" %}

        <div class='Cuerpo'>
	{% include "_global/FormErrores.html.twig" with {'errores': values.errores} %}
	{% include "Provincias/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}