{# Template new.html.twig for Provincias #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Provincias/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
    <form name="manto" action="" method="POST">
        <input name="controller" value="Provincias" type="hidden" />
        <input name="action" value="new" type="hidden" />
        <input name="Provincias[IDProvincia]" value="{{ values.datos.IDProvincia }}" type="hidden" />
        {% include '_global/comandosCreate.html.twig' %}

        <div class="Cuerpo">
	{% include '_global/FormErrores.html.twig' with {'errores': values.errores} %}
	{% include "Provincias/form.html.twig" with {'datos': values.datos} %}
        </div>
    </form>
</div>
{% endblock %}