<?xml version="1.0" encoding="UTF-8"?>

<!--
  Document : Empresas\config.xml
  @author: Sergio Pérez <sergio.perez@albatronic.com>
* @copyright: INFORMATICA ALBATRONIC SL
* @date 12.06.2011 19:03:07
-->

<Empresas>
  <login_required>YES</login_required>
  <permission_control>YES</permission_control>
  <help_file>empresas.html.twig</help_file>
  <title>Empresas</title>
  <conection>empresas</conection>
  <entity>Empresas</entity>
  <table>empresas</table>
  <primarykey>IDEmpresa</primarykey>
  <records_per_page>10</records_per_page>
  <order_by>RazonSocial</order_by>
  <search_default>RazonSocial</search_default>
  <columns>
    <column>
      <title>Código</title>
      <field>IDEmpresa</field>
      <filter>NO</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

    </column>

    <column>
      <title>Razón Social</title>
      <field>RazonSocial</field>
      <filter>YES</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Cif</title>
      <field>Cif</field>
      <filter>NO</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>15</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Dirección</title>
      <field>Direccion</field>
      <filter>NO</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>
      
    </column>

    <column>
      <title>Población</title>
      <field>Poblacion</field>
      <filter>NO</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>30</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>
     
    </column>

    <column>
      <title>Provincia</title>
      <field>IDProvincia</field>
      <filter>NO</filter>
      <list>YES</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>NO</null>
        <type></type>
        <length>2</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Código Postal</title>
      <field>CodigoPostal</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0000000000</default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>10</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>
      
    </column>

    <column>
      <title>Teléfono</title>
      <field>Telefono</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>30</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Fax</title>
      <field>Fax</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>30</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>
    
    </column>

    <column>
      <title>E-Mail</title>
      <field>EMail</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Web</title>
      <field>Web</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
        <null>YES</null>
        <type>string</type>
        <length>50</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Banco</title>
      <field>IDBanco</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0000</default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>4</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Oficina</title>
      <field>IDOficina</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0000</default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>4</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

    </column>

    <column>
      <title>Digito</title>
      <field>Digito</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>00</default>

      <validator>
        <null>NO</null>
        <type></type>
        <length>2</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>

      
    </column>

    <column>
      <title>Cuenta</title>
      <field>Cuenta</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>0000000000</default>

      <validator>
        <null>NO</null>
        <type>string</type>
        <length>10</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>
     
    </column>

    <column>
      <title>Sufijo</title>
      <field>Sufijo</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>000</default>

      <validator>
        <null>NO</null>
        <type></type>
        <length>3</length>
        <min></min>
        <max></max>
        <message>Valor Requerido</message>
      </validator>
     
    </column>

    <column>
      <title>ServidorDatos</title>
      <field>ServidorDatos</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

    </column>

    <column>
      <title>BaseDatos</title>
      <field>BaseDatos</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

    </column>

    <column>
      <title>UsuarioDatos</title>
      <field>UsuarioDatos</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

    </column>

    <column>
      <title>PasswordDatos</title>
      <field>PasswordDatos</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

    </column>

    <column>
      <title>Version</title>
      <field>Version</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default>ESTANDAR</default>

      <validator>
      </validator>

    </column>

    <column>
      <title>RegistroMercantil</title>
      <field>RegistroMercantil</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

    </column>

    <column>
      <title>EORI</title>
      <field>EORI</field>
      <filter>NO</filter>
      <list>NO</list>
      <form>YES</form>
      <link><route/><param/><title/><target/></link>
      <default></default>

      <validator>
      </validator>

      
    </column>

  </columns>
</Empresas>