<?xml version="1.0" encoding="UTF-8"?>

<!--
  Document : config.xml
  Config for index
  @author: Sergio Pérez <sergio.perez@albatronic.com>
* @copyright: INFORMATICA ALBATRONIC SL
* @date 31.05.2011 01:08:30
-->

<Index>
  <login_required>true</login_required>
  <permission_control>true</permission_control>
  <help_file>index.html.twig</help_file>
  <title>Introduccion</title>
</Index>