/* -------------------------------- */
/*		 FORMULARIO         */
/* -------------------------------- */
#formulario {
	width:290px;
	margin:0 auto;
}

label {
	width:100%;
	float:left;
	color: #666;
	font-size: 14px;
	margin-bottom:3px;
}

.celda {
	background:#f2f2f2;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	outline: none;
	padding:4px 8px;
	color: #666;
	width:274px;
	float:left;
	margin-bottom:20px;
	margin-top:0px;
	overflow:auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #d2d2d2;
}

.celdaError {
	background:#94bc28;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	outline: none;
	padding:4px 8px;
	color: #fff;
	width:274px;
	float:left;
	margin-bottom:20px;
	margin-top:0px;
	overflow:auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #d2d2d2;
}

.olvido {
	color: #94BC28;
	text-decoration: underline;
	font-size: 11px;
}

/* -------------------------------- */
/*		 MENSAJES 	    */
/* -------------------------------- */
.mensaje {
	width:310px;
	background:#f2f2f2;
	font-size: 20px;
	padding:40px 20px;
	color: #666;
	margin:0 auto 20px auto;
	overflow:auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #d2d2d2;
	text-align:center;
	line-height:1.4em;
}

.error {
	width:100%;
	text-align:center;
	float:left;
	background:url('../images/mensaje-error.png') 50% 0 no-repeat;
	padding-top:60px;
}


.exito {
	width:100%;
	text-align:center;
	float:left;
	padding-top:60px;
}

.mensaje_enviado{
	background:url('../images/mensaje-exito.png') 50% 0 no-repeat;
	padding-top:100px;
}

.mensaje_ok{
	background:url('../images/mensaje-ok.png') 50% 0 no-repeat;
}

