.contenedorNoticia {
	width:100%;
	float:left;
	margin-bottom:40px;
}

/*******************************z
   Texto
********************************/
.fecha{
	text-align:right;
	float:right !important;
}


.contenedorNoticia h1 {
	width:100%;
	float:left;
	color:#00a2df;
	font-size:40px;
	margin-bottom:15px;
	line-height:1.2em;
}

.contenedorNoticia h2 {
	width:100%;
	float:left;
	color:#94bc28;
	font-size:22px;
	margin-bottom:20px;
}

.contenedorNoticia h3 {
	font-size:13px;
	line-height:1.4em;
	margin-bottom:15px;
	float:left;
	width:100%;
	margin-bottom:10px;
	color:#aaa;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}


.contenedorNoticia h4 {
	font-size:22px;
	color:#a4b069;
	line-height:25px;
	float:left;
	width:100%;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height:1.4em;
	margin-top:20px;
}

.contenedorNoticia h5 {
	font-size:18px;
	color:#777;
	line-height:25px;
	float:left;
	width:100%;
	margin-bottom:10px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}


#contenedorintroduccion{
color:#666;
width:100%;
float:left;
margin-top:20px;
margin-bottom:40px;
}

.contenedorNoticia p {
	width:100%;
	float:left;
	margin:5px 0 25px 0;
}

.contenedorNoticia p a {
	text-decoration:underline;
	color:#94bc28;
}

.contenedorNoticia p a:hover {
	color:#637d1b;
}

.imagen_noticia {
	width:100%;
	text-align:center;
	margin-bottom:15px;
	float:left;
}

.imagen_noticia img{
	padding:3px;
	border:1px solid #ddd;
}

/*
.enlaceNoticia {
	margin-bottom:15px;
}

.enlaceNoticia a{
	color:#c3446d;
	font-style:italic;
} */


/*********************************************
   LISTADO DE SECCIONES y CONTENIDOS
**********************************************/


ul.listaContenidos{
list-style-type:none;
padding-left:20px;
margin-bottom:20px;
float:left; 
}

ul.listaContenidos li{
	float:left;
	margin-bottom:20px;
	width:760px;
}

ul.listaContenidos li .fecha{
	float:left;
}

ul.listaContenidos li h1{
	color:#94BC28;
	text-decoration:none;
	font-weight:normal;
	background:url(../images/contenidos-tic.png) no-repeat 0px 10px;
	display:block;
	font-size:18px;
	padding-top:5px;
	margin-bottom:5px;
	padding-left:25px;
	width:735px;
}

ul.listaContenidos li h1.con_fecha{
	width:640px;
}

ul.listaContenidos li h1 a{
color:#94BC28;
text-decoration:none;
}

ul.listaContenidos li a:hover{
color:#637d1b;
/*text-decoration:underline;*/
}

ul.listaContenidos li h2{
	color:#00A2DF;
	font-size:15px;
	padding-left:25px;
	float:left;
	width:735px;
	margin-bottom:10px;
}


ul.listaContenidos li p {
	color:#555;
	font-weight:normal;
	font-size:15px; 
	padding-left:25px;
	float:left;
	width:735px;
} 


/*******************************
   Ficheros Adjuntos
********************************/

.ficherosAdjuntos {
	color:#005257;
	float:left;
	width:783px;
	margin-bottom:40px;
}

.ficherosAdjuntos h6{
	color:#00a2df;
	float:left;
	width:713px;
	padding-bottom:8px;
	font-size:26px;
	float:left;
	padding-bottom:15px;
	background:url(../images/filete-horizontal.png) 0 bottom repeat-x;
	margin-bottom:15px;
	border-bottom:0px;
}

.contenidoTop {
	background:url(../images/contenido-top.png) 0 0 no-repeat;
	width:783px;
	height:7px;
	float:left;
}

.contenidoInter {
	border-left:1px solid #d2d2d2;
	border-right:1px solid #d2d2d2;
	/*background:url(../images/contenido-inter.png) 0 0 repeat-y;*/
	background:#f2f2f2;
	padding:20px 36px 10px 36px;
	float:left;
	width:709px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:1.4em;
	font-size:14px;
}

.contenidoBottom {
	background:url(../images/contenido-bottom.png) 0 0 no-repeat;
	width:783px;
	height:6px;
	float:left;
}


.ficherosAdjuntos .contenidoInter ul {
	width:315px;
	float:left;
	/*margin-top:30px;*/
}

.ficherosAdjuntos .contenidoInter ul li{
	background:url(../images/icono-pdf.png) 0 4px no-repeat;
	padding-left:25px;
	/*padding-top:2px;*/
	/*height:35px;*/
	width:100%;
	float:left;
	color:#555;
	margin-bottom:10px;
	line-height:1.5em;
}

.ficherosAdjuntos .contenidoInter ul li a{
	color:#555;
	text-decoration:none;
	font:15px Verdana, Arial, Helvetica, sans-serif;
}

.ficherosAdjuntos .contenidoInter ul li a:hover{
	color:#94bc28;
	text-decoration:underline;
}



/*******************************
   Enlaces Relacionados
********************************/
.contenidoInter ul.enlaces_rel {
	width:315px;
	float:left;
}

.contenidoInter ul.enlaces_rel li{
	background:url(../images/icono-enlace.png) 0 3px no-repeat;
	padding-left:25px;
	/*padding-top:2px;*/
	/*height:35px;*/
	margin-bottom:5px;
	width:100%;
	float:left;
}

.url_enlace{
	color:#94bc28;
	text-decoration:underline;
}

/*******************************
   Carrusel de Fotos
********************************/

 #carrusel {
	width:783px;
	float:left;
	margin-bottom:20px;
 }
 
 #carrusel h6{
	color:#00a2df;
	float:left;
	width:713px;
	padding-bottom:8px;
	font-size:26px;
	float:left;
	padding-bottom:15px;
	background:url(../images/filete-horizontal.png) 0 bottom repeat-x;
	margin-bottom:15px;
	border-bottom:0px;
}

.galeria {
 	padding:10px 0 20px 0px;
	margin:0;
	width:783px;
	float:left;
 }

 
.galeria li {
	float:left;
	width:69px;
	height:71px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background:#ddd;
	padding:3px;
	margin-right:16px;
}

ul.galeria li img {
	border-top:1px solid #909090;
	border-bottom:1px solid #fff;
	width:69px;
	height:69px;
}
 
.boton {
	margin-bottom:50px;
}

/***************************************************************/




/*******************************
   VIDEOS YOUTUBE
********************************/
.contenedorNoticia .videos_youtube {
	margin-top:5px;
	margin-bottom:40px;
	width:100%;
	float:left;
	text-align:center;
}


/*********** SEPARACION ENTRE VARIOS CONTENIDOS DESARROLLADOS *************/


.separacionVariosContenidos{
	/*background:url(../images/lineaPie.png) 0px 0px no-repeat;*/
	width:783px;
	height:20px;
	float:left;
	border-top: 1px solid #ccc;
	margin:50px 0;
	float:left;
}


/* ====================================
	RESPUESTA DE FORO
=====================================*/
/*.subcabeceraTabla {
	background:url(../images/subcabecera-contenido.png) 0 0 no-repeat;
	*background:#e2e2e2;
	width:637px;
	height:25px;
	float:left;
	padding-left:10px;
	padding-top:5px;
	color:#555;
	font:16px Georgia, "Times New Roman", Times, serif;
}

#contenido_respuesta {
	width:637px;
	float:left;
	margin-top:30px;
	padding-bottom:20px;
}

#contenido_respuesta h1{
	font:16px Georgia, "Times New Roman", Times, serif;
	float:left;
	color:#777;
	margin:15px 0;
	width:637px;
	padding-top:10px;
}

#contenido_respuesta p{
	line-height:1.6em;
	float:left;
	width:637px;
	border-bottom:1px solid #d1d1d1;
	padding-bottom:20px;
}*/

