body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

a:hover{text-decoration:none;}
a{	color:#000;
	text-decoration:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}

fieldset, abbr, acronym {
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

img {
	border:0;
	padding:0;
	margin:0;
	outline:0;
}

h1,h2,h3,h4,h5,h6 {
	font-size:1em;
	font-size:100%;
	font-weight:normal;
}

a {
	outline:none;
}


	
.clear {
	clear:both;}
	
.oculto {
	display:none; text-indent:-9999px;}
	
hr {
	display:none}
	
/*p,code,ul {
	padding-bottom: 1.3em;}*/
