{# noFound.html.twig #}
{% extends "_help/_global/layout.html.twig "%}

{%block titulo%}
<h2>Ayuda no encontrada</h2>
{%endblock%}

{% block contenido %}
<hr/>
<h3>No se ha podido localizar el fichero de ayuda solicitado. Consulte con el administrador del sistema.</h3>
{% endblock %}