.filaformulario {
	width:100%;
	margin-bottom:5px;
	float:left;}
.filaformulario a {
	color:#666;
	text-decoration:none;}


.filaformularioEspacioAbajo {
	width:100%;
	margin-bottom:10px;
	float:left;}
.filaformularioEspacioAbajo a {
	color:#666;
	text-decoration:none;}


.filaformulario_alignright {
	clear:both;
	text-align:right;
	
	margin-bottom:5px;}

select{
	color:#333;
	border:1px solid #ccc;
}

/*MENSAJES ERROR FORMULARIO*/

.filaformularioMensajesError {
	width:100%;
	margin-bottom:10px;
	float:left;
	text-align:right;
	color:#97161b;
	font-weight:bold;}
.filaformularioMensajesError img {
	margin-bottom:-3px;}


/* TEXTAREA */
textarea{
	font:15px Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	border:1px solid #ccc;
}

.textarea900x100{
	width:900px;
	height:100px;}

.textarea500x100{
	width:380px;
	height:100px;}



/* SPAMS GENERICOS */
.spam_margin_10{
	float:left;
	margin-right:10px;}
.spam_margin_10 a {
	color:#666;
	text-decoration:none;}


/* ETIQUETA */

.etiqueta_50 {
	color:#666;
	width:50px;
	float:left;
	margin-right:5px;}
.etiqueta_50 a {
	color:#666;
	text-decoration:none;}

.etiqueta_70 {
	color:#666;
	width:70px;
	float:left;
	margin-right:5px;}
.etiqueta_70 a {
	color:#666;
	text-decoration:none;}

.etiqueta_90 {
	color:#666;
	width:100px;
	float:left;
	margin-right:5px;}
.etiqueta_90 a {
	color:#666;
	text-decoration:none;}

.etiqueta_140 {
	color:#666;
	width:140px;
	float:left;
	margin-right:5px;}
.etiqueta_140 a {
	color:#666;
	text-decoration:none;}

.etiqueta_150 {
	color:#666;
	width:150px;
	float:left;
	margin-right:5px;}
.etiqueta_150 a {
	color:#666;
	text-decoration:none;}

.etiqueta_180 {
	color:#666;
	width:180px;
	float:left;
	margin-right:5px;}
.etiqueta_180 a {
	color:#666;
	text-decoration:none;}


/* CAMPO TEXTO */
.spam_campotexto_145{
	width:145px;
	float:left;
	margin-right:10px;
}
.campotexto_145 {
	color:#333;
	border:1px solid #ccc;
	width:145px;
	padding-left:5px;}

/* CAMPO TEXTO */
.spam_campotexto_180{
	width:180px;
	float:left;
	margin-right:10px;}
.campotexto_180 {
	color:#333;
	border:1px solid #ccc;
	width:180px;
	padding-left:5px;}


/* CAMPO TEXTO */

.spam_campotexto_205{
	width:205px;
	float:left;
	margin-right:10px;}
.campotexto_205 {
	color:#333;
	border:1px solid #ccc;
	width:190px;
	padding-left:5px;}



/* ESTILOS CAMPOS SELECT */

.select_205{
	width:205px;}


/* CAMPO TEXTO */

.spam_campotexto_235{
	width:235px;
	float:left;
	margin-right:10px;}
.campotexto_235 {
	color:#333;
	border:1px solid #ccc;
	width:220px;
	padding-left:5px;}
